@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #271518 16.62%, #414226 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
  border-radius: 100%;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  color: #fff2e7;
  font-size: 18px;
  text-transform: uppercase;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #fff2e7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 64px;
  color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ecd6c4;
}

.conteudo-principal-escrito-botao {
  background-color: #ecd6c4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Sarala", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #2f2325;
}

.conteudo-principal-escrito-botao-link{
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
  margin-top: 50px;
  border: 5px solid #ecd6c4;
  border-radius: 100%;
  height: 430px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #fff2e7;
  padding-top: 48px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 24px;
  color: #fff2e7;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: "Sarala", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ecd6c4;
}

.conteudo-secundario-escrito-botao {
  background-color: #ecd6c4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Sarala", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #2f2325;
}

.conteudo-secundario-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-secundario-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo-secundario-contato{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.conteudo-secundario-contato-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  mix-blend-mode: multiply;
  width: 50px;
  padding: 0 12px;
}

.rodape {
  padding: 32px;
  border-top: 0.4px solid #fff2e7;
}

.rodape-paragrafo {
  height: 48px;
  font-family: "Sarala", sans-serif;
  text-align: center;
  color: #ecd6c4;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .cabecalho-imagem {
    display: block;
    margin: 0 auto;
  }
  .cabecalho-menu {
    display: block;
    margin: 0 auto;
  }

  .cabecalho-menu-item{
    font-size: 13px;
    margin: 0 7px;
  }

  .conteudo-principal {
    display: block;
    margin: 0 auto;
  }

  .conteudo-principal-escrito {
    padding-top: 28px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .conteudo-principal-escrito-subtitulo{
    padding: 12px;
  }

  .conteudo-principal-escrito-botao{
    width: 120px;
    height: auto;
    font-size: 18px;
  }

  .conteudo-principal-imagem{
    width: 70%;
    height: auto;
    display: block;
    margin: 32px auto;
  }

  .conteudo-secundario-titulo{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 18px;
  }

  .conteudo-secundario-paragrafo{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
  }

  .conteudo-secundario-escrito-botao{
    width: 120px;
    height: auto;
    font-size: 18px;
  }

  .rodape{
    display: block;
    margin: 0 auto;
  }

  .rodape-paragrafo{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
  }
}